# Imports

In [1]:
import pandas as pd

# Functions

In [2]:
def mount_file_dict(raw_dict, variable_list):
    """Mount the dictionary with the variables"""
    dict_with_var = {}
    for file in list(raw_dict.keys()):
        dict_with_var[file] = {variable: raw_dict[file][i]
                                   for i, variable in enumerate(variable_list)}
    return dict_with_var

In [9]:
def transform_codcet(series):
    return series

def transform_datahora(series):
    try:
        series = pd.to_datetime(series)
    except:
        series = pd.to_datetime(series, format='%d%m%Y%H%M%S')

    return series

def transform_placa(series):
    return series

def transform_velocidade(series):
    return series

def transform_gct(series):
    return series

def transform_latitude(series):
    return series

def transform_longitude(series):
    return series

In [6]:
def robot(file, variable_dict):
    df_raw = pd.read_csv(file, sep='|', names = ['x'])
    print(f'Converting {file}')
    df = df_raw.copy()
    for var in variable_dict[file].keys():
        # Defining intervals
        inf_lim, sup_lim = tuple(variable_dict[file][var][:2])
        
        # Creating columns 
        df[var] = df['x'].str[inf_lim: sup_lim]
        
        df[var] = globals()[f'transform_{var.lower()}'](df[var])
    
    df.drop(columns=['x'], inplace=True)
    
    return df

# Inputs

In [4]:
variable_list = [
    'CODCET',
    'DATAHORA',
    'PLACA',
    'VELOCIDADE',
    'GCT',
    'LATITUDE',
    'LONGITUDE'
]

raw_dict = {
    'amostras/movimento_OCR_JAN_2019.txt_amostra.txt': [
        [108, 118],
        [78, 92],
        [0, 7],
        [92, 95],
        [108, 111],
        [216, 225],
        [225, 234]

    ],
    'amostras/SCP_TRANSCARIOCA_0222016_201903_amostra.txt': [
        [108, 118],
        [78, 92],
        [0, 7],
        [92, 95],
        [108, 111],
        [216, 225],
        [225, 234]
    ],
    'amostras/SCP_RADAR_RIO_SITRAN_0232015_201903_amostra.txt': [
        [108, 118],
        [78, 92],
        [0, 7],
        [92, 95],
        [108, 111],
        [216, 225],
        [225, 234]
        
    ],
    'amostras/SCP_INTVIA_0182018_201901_amostra.txt': [
        [108, 118],
        [78, 92],
        [0, 7],
        [92, 95],
        [108, 111],
        [216, 225],
        [225, 234]
    ],
    'amostras/FISCALTECH_0042016_06_2019.txt_amostra.txt': [
        [108, 118],
        [78, 92],
        [0, 7],
        [92, 95],
        [108, 111],
        [216, 225],
        [225, 234]
    ],
    'amostras/SPLICE_0072018_20190205_.txt_amostra.txt': [
        [108, 118],
        [78, 92],
        [0, 7],
        [92, 95],
        [108, 111],
        [216, 225],
        [225, 234]
    ]
    }

variable_dict = mount_file_dict(raw_dict, variable_list)

# Transformation

## Movimento_OCR

In [10]:
robot('amostras/movimento_OCR_JAN_2019.txt_amostra.txt', variable_dict)

Converting amostras/movimento_OCR_JAN_2019.txt_amostra.txt

,CODCET,DATAHORA,PLACA,VELOCIDADE,GCT,LATITUDE,LONGITUDE
0,0410191112,2019-01-01 00:00:00,KPV6877,039,041,-22.93380,-43.18294
1,0410121122,2019-01-01 00:00:01,LQR8247,034,041,-22.97019,-43.41377
2,0410241111,2019-01-01 00:00:01,ETP1890,040,041,-22.93149,-43.20888
3,0410161111,2019-01-01 00:00:01,KXL9916,025,041,-22.92479,-43.38907
4,0410381122,2019-01-01 00:00:01,LPU2287,044,041,-23.01267,-43.38900
...,...,...,...,...,...,...,...
95,0410101111,2019-01-01 00:00:44,KXO8345,047,041,-22.94346,-43.37263
96,0410041111,2019-01-01 00:00:45,LQQ6729,040,041,-22.99365,-43.30290
97,0410361121,2019-01-01 00:00:45,PWK5435,051,041,-23.01997,-43.43618
98,0410431112,2019-01-01 00:00:46,,064,041,-22.87778,-43.32760
99,0410311111,2019-01-01 00:00:46,,057,041,-22.88907,-43.56765

## SCP_TRANSCARIOCA

In [11]:
robot('amostras/SCP_TRANSCARIOCA_0222016_201903_amostra.txt', variable_dict)

Converting amostras/SCP_TRANSCARIOCA_0222016_201903_amostra.txt

,CODCET,DATAHORA,PLACA,VELOCIDADE,GCT,LATITUDE,LONGITUDE
0,0440021120,2019-03-01 00:10:31,-------,9,044,"-22,87280","-43,33629"
1,0440021120,2019-03-01 00:10:44,-------,24,044,"-22,87280","-43,33629"
2,0440021120,2019-03-01 00:10:44,-------,19,044,"-22,87280","-43,33629"
3,0440021120,2019-03-01 00:10:46,-------,28,044,"-22,87280","-43,33629"
4,0440021120,2019-03-01 00:10:48,-------,30,044,"-22,87280","-43,33629"
...,...,...,...,...,...,...,...
95,0440021120,2019-03-01 00:22:46,-------,26,044,"-22,87280","-43,33629"
96,0440021120,2019-03-01 00:23:26,-------,9,044,"-22,87280","-43,33629"
97,0440021120,2019-03-01 00:23:40,LLP4408,7,044,"-22,87280","-43,33629"
98,0440021120,2019-03-01 00:23:43,-------,13,044,"-22,87280","-43,33629"
99,0440021120,2019-03-01 00:23:45,-------,17,044,"-22,87280","-43,33629"

## SCP_RADAR_RIO_SITRAN

In [12]:
robot('amostras/SCP_RADAR_RIO_SITRAN_0232015_201903_amostra.txt', variable_dict)

Converting amostras/SCP_RADAR_RIO_SITRAN_0232015_201903_amostra.txt

,CODCET,DATAHORA,PLACA,VELOCIDADE,GCT,LATITUDE,LONGITUDE
0,0400141110,2019-03-01 10:26:30,-------,53,040,"-22,90393","-43,27340"
1,0400141110,2019-03-01 10:26:31,-------,41,040,"-22,90393","-43,27340"
2,0400141110,2019-03-01 10:26:34,-------,49,040,"-22,90393","-43,27340"
3,0400141110,2019-03-01 10:49:09,LQS5658,48,040,"-22,90393","-43,27340"
4,0400141110,2019-03-01 10:49:10,FLT2044,46,040,"-22,90393","-43,27340"
...,...,...,...,...,...,...,...
95,0400141110,2019-03-01 10:54:26,-------,51,040,"-22,90393","-43,27340"
96,0400141110,2019-03-01 10:54:28,KNV7474,47,040,"-22,90393","-43,27340"
97,0400141110,2019-03-01 10:54:30,-------,51,040,"-22,90393","-43,27340"
98,0400141110,2019-03-01 10:54:37,-------,40,040,"-22,90393","-43,27340"
99,0400141110,2019-03-01 10:54:37,-------,40,040,"-22,90393","-43,27340"

## SCP_INTVIA

In [13]:
robot('amostras/SCP_INTVIA_0182018_201901_amostra.txt', variable_dict)

Converting amostras/SCP_INTVIA_0182018_201901_amostra.txt

,CODCET,DATAHORA,PLACA,VELOCIDADE,GCT,LATITUDE,LONGITUDE
0,0480091110,2019-01-01 00:00:02,-------,15,048,"-22,96635","-43,21941"
1,0480091110,2019-01-01 00:00:04,LSY8484,17,048,"-22,96635","-43,21941"
2,0480091110,2019-01-01 00:00:07,-------,14,048,"-22,96635","-43,21941"
3,0480091110,2019-01-01 00:00:22,-------,29,048,"-22,96635","-43,21941"
4,0480091110,2019-01-01 00:00:44,-------,43,048,"-22,96635","-43,21941"
...,...,...,...,...,...,...,...
95,0480091110,2019-01-01 00:26:29,-------,4,048,"-22,96635","-43,21941"
96,0480091110,2019-01-01 00:26:35,-------,53,048,"-22,96635","-43,21941"
97,0480091110,2019-01-01 00:26:38,-------,56,048,"-22,96635","-43,21941"
98,0480091110,2019-01-01 00:26:39,-------,51,048,"-22,96635","-43,21941"
99,0480091110,2019-01-01 00:26:43,-------,50,048,"-22,96635","-43,21941"

## FISCALTECH

In [14]:
robot('amostras/FISCALTECH_0042016_06_2019.txt_amostra.txt', variable_dict)

Converting amostras/FISCALTECH_0042016_06_2019.txt_amostra.txt

,CODCET,DATAHORA,PLACA,VELOCIDADE,GCT,LATITUDE,LONGITUDE
0,0420061113,2019-06-01 03:27:09,,018,042,-23000409,-43334161
1,0420171211,2019-06-01 01:16:43,,051,042,00,00
2,0420071124,2019-06-01 01:12:01,,050,042,-23001615,-43328645
3,0420061114,2019-06-01 03:30:47,,021,042,-23000409,-43334161
4,0420111113,2019-06-01 03:28:09,,014,042,-22963859,-43394382
...,...,...,...,...,...,...,...
95,0420061212,2019-06-01 03:14:49,,055,042,-23000304,-43334543
96,0420141113,2019-06-01 03:36:44,,053,042,-22981353,-43409694
97,0420121113,2019-06-01 03:19:05,,055,042,-22967687,-43397829
98,0420111122,2019-06-01 01:14:05,,058,042,-22963742,-43394364
99,0420111123,2019-06-01 03:14:59,,053,042,-22963742,-43394364

## SPLICE

In [15]:
robot('amostras/SPLICE_0072018_20190205_.txt_amostra.txt', variable_dict)

Converting amostras/SPLICE_0072018_20190205_.txt_amostra.txt

,CODCET,DATAHORA,PLACA,VELOCIDADE,GCT,LATITUDE,LONGITUDE
0,0450381112,2019-01-01 00:00:01,,059,045,-22.98468,-43.21814
1,0045054111,2019-01-01 00:00:03,,055,004,-22.95759,-43.19957
2,0450441112,2019-01-01 00:00:05,,058,045,-22.98537,-43.20337
3,0450681111,2019-01-01 00:00:22,,039,045,-22.98475,-43.20046
4,0450451112,2019-01-01 00:00:22,,058,045,-22.98481,-43.20567
...,...,...,...,...,...,...,...
95,0045054111,2019-01-01 00:08:14,,034,004,-22.95759,-43.19957
96,0450291112,2019-01-01 00:08:20,,059,045,-22.94931,-43.18919
97,0450071112,2019-01-01 00:08:24,,019,045,-22.97663,-43.19036
98,0450521122,2019-01-01 00:08:24,,044,045,-22.91264,-43.20387
99,0450521122,2019-01-01 00:08:26,,050,045,-22.91264,-43.20387